* {
  font-family: Roboto, sans-serif;
}

.section, .container, ul, .section-1 .left-side, .cards, .card {
  display: flex;
}

.section-1 .left-side, .section-2, .card, .section-3 .container {
  flex-direction: column;
}

.header .container, .section-1 .container, .section-4 .container {
  width: 1000px;
}

/*body > * {
  padding-left: 10px;
  padding-right: 10px;
}*/
/* body already has default padding */

.main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  margin: auto; /* center container in section */
  align-items: center;
}

.section-1 .container, .cards, .section-3 .container {
  padding-left: 24px;
  padding-right: 24px;
}

/* remove default margins */
.header h3, .section-1 h1, p {
  margin: 0px;
}
/* p: .section-1 p, .card p, .section-3 .container > *, .section-4 p */

/* ******************** colors/sizes/weights from specification image ******************** */

/* dark blue background */
.header, .section-1, .footer {
  background-color: #1F2937;
}

/* almost white text */
.header h3, .section-1 h1, .section-1 .image-placeholder {
  color: #F9FAF8;
}

/* light gray text */
a, .section-1 p {
  color: #E5E7EB;
  font-size: 18px;
}

/* dark blue text */
.section-2 h2, .section-3 .text {
  color: #1F2937;
  font-size: 36px;
}

.footer, button, .section-4 {
  color: white;
}

.section-1 h1, .section-2 h2 {
  font-weight: 900;
}

/* ******************** sections ******************** */

.header .container {
  padding: 20px 24px;
  gap: 32px;
}

.header h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  gap: 24px;
  text-align: center;
}

a {
  text-decoration: none;
}

.section-1 .left-side {
  padding-right: 50px;
  flex: 1;
}

.section-1 .image-placeholder {
  background-color: #697179;
  text-align: center;
  align-content: center;
  padding: 10px;
/*image doesn't shrink with flex initial on left and image*/
/*flex 1 on left side and flex auto on image with max-w/h instead of w/h is the only combination that works (flex 1 on image also works but with slightly smaller image)*/
  max-width: 525px;
  max-height: 240px;
  aspect-ratio: 2.1875;
  flex: auto;
}

.section-1 h1 {
  font-size: 48px;
}

button {
  background-color: #3882F6;
  width: 130px;
  height: 40px;
  border: solid 2px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  flex: none;
}

.section-1 button {
  border-color: #3882F6;
  margin-top: 12px;
}

.section-2 {
  align-items: center;
}

.section-2 h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.cards {
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

/* wrap to 2x2 instead of 3+1 */
/* 175x4 cards + 150 gap = 850 + 48 padding + 16 body padding */
@media (max-width: 913px) {
  .cards {
    width: 620px;
  }
}

.card {
  width: 175px;
  gap: 10px;
}

.card-image {
  width: 165px;
  height: 165px;
  border: solid 4px #3882F6;
  border-radius: 8px;
}

.card p {
  text-align: center;
  color: #666666;
  font-size: 18px;
}

.section-3 {
  background-color: #E5E7EB;
}

.section-3 .container {
  width: 800px;
  gap: 12px;
}

.section-3 .text {
  font-style: italic;
  /* font-weight: light doesn't work */
  font-weight: 300;
}

.section-3 .attribution {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 500;
}

.section-4 .container {
  padding: 50px;
  background-color: #3882F6;
  border-radius: 8px;
  justify-content: space-evenly;
  gap: 50px;
}

.section-4 h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 24px;
}

.section-4 button {
  border-color: white;
}

.footer {
  height: 100px;
  align-content: center;
}

.footer p {
  text-align: center;
}
